<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AF.Securify.ShellLink" version="1.1.0" targetFramework="net47" requireReinstallation="true" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net40" requireReinstallation="true" />
  <package id="ILMerge" version="3.0.41" targetFramework="net47" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="YF.Securify.PropertyStore" version="1.1.0" targetFramework="net47" requireReinstallation="true" />
</packages>